<?xml version="1.0" encoding="ISO-8859-1"?>

<!DOCTYPE web-app
    PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
    "http://java.sun.com/dtd/web-app_2_3.dtd">

<web-app>
	<display-name>oss</display-name>
	<context-param>
		<param-name>javax.servlet.jsp.jstl.fmt.localizationContext</param-name>
		<param-value>resources.messages</param-value>
	</context-param>
      <context-param>
      <param-name>data-source-needed</param-name>
      <param-value>true</param-value>
    </context-param>
    <listener>
      <listener-class>com.broadon.servlet.ConfigListener</listener-class>
    </listener>
    <listener>
      <listener-class>
        com.broadon.servlet.OracleDSListener
      </listener-class>
    </listener>
    <listener>
      <listener-class>
        com.broadon.servlet.ContextStatus
      </listener-class>
    </listener>

	<servlet>
    	<servlet-name>htm</servlet-name>
	    <servlet-class>com.broadon.oss.HtmServlet</servlet-class>
	</servlet>
	<servlet-mapping>
    	<servlet-name>htm</servlet-name>
	    <url-pattern>/common/vc/*</url-pattern>
	</servlet-mapping>
	
	<welcome-file-list>
		<welcome-file>Home.jsp</welcome-file>
	</welcome-file-list>
	<taglib>
		<taglib-uri>http://java.sun.com/jsp/jstl/core</taglib-uri>
		<taglib-location>/WEB-INF/tld/c.tld</taglib-location>
	</taglib>
	<taglib>
		<taglib-uri>http://java.sun.com/jsp/jstl/fmt</taglib-uri>
		<taglib-location>/WEB-INF/tld/fmt.tld</taglib-location>
	</taglib>
    <env-entry>
  	  <env-entry-name>BBconfig</env-entry-name>
	  <env-entry-value>WEB-INF/BBserver.properties</env-entry-value>
	  <env-entry-type>java.lang.String</env-entry-type>
	</env-entry>	
</web-app>
